<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FAQ检索系统</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
</head>
<body class="layui-card-body">
<div class="header layui-row" style="text-align: right;">
    <div class="layui-col-xs4 search" style="float:right;">
        <span class=" layui-inline">
            <input type="text" id="search-value" required lay-verify="required" placeholder="请输入词" autocomplete="off" class="layui-input">
        </span>
        <span class="layui-inline">
            <button id="search-btn" class="layui-btn">搜索</button>
        </span>
    </div>
</div>

<div class="layui-row">
    <table class="layui-table" id="table" lay-filter="logger" ></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>
<script th:src="@{'/js/common.js?' + ${session.version}}"></script>
<script th:src="@{'/js/auditlog/log.list.js?' + ${session.version}}"></script>
</body>
</html>