<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.up.jingshan.client.auth.user.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.up.jingshan.client.auth.user.model.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="childrens" column="id" select="selectChildrens"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_permission
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.up.jingshan.client.auth.user.model.Permission">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_permission (pid, `type`, `name`,
        code, icon, uri, seq, create_user,
        create_time, update_user, update_time
        )
        values (#{pid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.up.jingshan.client.auth.user.model.Permission">
        update sys_permission
        set pid         = #{pid,jdbcType=INTEGER},
            `type`      = #{type,jdbcType=TINYINT},
            `name`      = #{name,jdbcType=VARCHAR},
            code        = #{code,jdbcType=VARCHAR},
            icon        = #{icon,jdbcType=VARCHAR},
            uri         = #{uri,jdbcType=VARCHAR},
            seq         = #{seq,jdbcType=INTEGER},
            create_user = #{createUser,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_user = #{updateUser,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            id,
            pid,
            `type`,
            `name`,
            code,
            icon,
            uri,
            seq,
            create_user,
            create_time,
            update_user,
            update_time
        from sys_permission
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            id,
            pid,
            `type`,
            `name`,
            code,
            icon,
            uri,
            seq,
            create_user,
            create_time,
            update_user,
            update_time
        from sys_permission
    </select>

    <select id="selectChildrens" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            id,
            pid,
            `type`,
            `name`,
            code,
            icon,
            uri,
            seq,
            create_user,
            create_time,
            update_user,
            update_time
        from sys_permission
        where pid = #{id,jdbcType=INTEGER}
    </select>
</mapper>